Repository sbrunner/hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: workflows-require-timeout, poetry-check, poetry-lock, pipenv-lock, helm-lock

.pre-commit-config.yaml:

# https://pre-commit.com/hooks.html

ci:
  skip:
    - copyright
    - workflows-require-timeout
    - poetry-check
    - poetry-lock
    - pipenv-lock
    - helm-lock

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Update copyright year
        entry: pre-commit-copyright
        language: python
        types:
          - text
      - id: workflows-require-timeout
        name: workflows require timeout
        entry: pre-commit-workflow-timeout
        files: ^\.github/workflows/.+\.ya?ml$
        language: python
      - id: poetry-check
        name: poetry check
        entry: pre-commit-run-in-dir --cmd poetry check
        args:
          - --files
        language: python
        additional_dependencies:
          - poetry==1.3.2 # pypi
        files: ^(|.*/)pyproject\.toml$
      - id: poetry-lock
        name: poetry lock
        entry: pre-commit-run-in-dir --cmd poetry lock
        args:
          - -a--no-update
          - --files
        language: python
        additional_dependencies:
          - poetry==1.3.2 # pypi
        files: ^(|.*/)pyproject\.toml$
      - id: pipenv-lock
        name: pipenv lock
        entry: pre-commit-run-in-dir --cmd pipenv lock
        args:
          - -a--keep-outdated
          - --files
        language: python
        additional_dependencies:
          - pipenv
        files: ^(|.*/)Pipfile$
      - id: helm-lock
        name: helm lock
        entry: pre-commit-run-in-dir --cmd helm dependency update
        args:
          - --files
        language: python
        files: ^(|.*/)Chart\.yaml$
  - repo: https://github.com/pre-commit/pre-commit
    rev: v2.21.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: name-tests-test
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.5.1
    hooks:
      - id: docformatter
  - repo: https://github.com/PyCQA/prospector
    rev: v1.8.4
    hooks:
      - id: prospector
        args: [--tool=pydocstyle, --die-on-tool-error]
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.0.0
    hooks:
      - id: autoflake
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words=.github/spell-ignore-words.txt
        exclude: ^poetry.lock$
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.2 # npm
          - 'prettier-plugin-sh@0.12.8' # npm
          - 'prettier-plugin-toml@0.3.1' # npm
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.20.0
    hooks:
      - id: check-github-workflows
      - id: check-renovate
        additional_dependencies: ['pyjson5']
  - repo: https://github.com/sirwart/ripsecrets.git
    rev: v0.1.5
    hooks:
      - id: ripsecrets

Fix the release creation
  .github/workflows/changelog.yaml
  .github/workflows/main.yaml
Due: workflows-require-timeout

Better documentation
  README.md
Due: none

Update README.md
  README.md
Due: none

Update the copyright to the current year
  pre_commit_hooks/copyright.py
Due: none

Less logs
  pre_commit_hooks/copyright.py
Due: none

More error catching
  pre_commit_hooks/copyright.py
Due: none

Use the current year on modified file
  pre_commit_hooks/copyright.py
Due: none

Fix the publishing
  .github/workflows/changelog.yaml
  ci/config.yaml
  pyproject.toml
  sbrunner_pre_commit_hooks/__init__.py
  sbrunner_pre_commit_hooks/copyright.py
  sbrunner_pre_commit_hooks/run_in_dir.py
  sbrunner_pre_commit_hooks/workflow_timeout.py
  tests/copyright_test.py
Due: workflows-require-timeout, poetry-check, poetry-lock

Fix the license file
  LICENSE
  pyproject.toml
Due: poetry-check, poetry-lock

Fix the token used to create the changelog
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Don't permit to have 2023-2023
  README.md
  pre_commit_hooks/copyright.py
  tests/copyright_test.py
Due: none

Be able to manage the LICENSE file
  .prospector.yaml
  README.md
  pre_commit_hooks/copyright.py
Due: none

Fix the publishing
  .github/workflows/changelog.yaml
  ci/config.yaml
  pyproject.toml
Due: workflows-require-timeout, poetry-check, poetry-lock

Fix the package name
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  sbrunner_hooks/__init__.py
  sbrunner_hooks/copyright.py
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/workflow_timeout.py
  tests/copyright_test.py
Due: poetry-check, poetry-lock

Fix the readme
  README.md
Due: none

Do the pull request at the end of the day
  .github/renovate.json5
Due: none

Add diff after pre-commit
  .github/workflows/main.yaml
Due: workflows-require-timeout

Configure pre-commit auto update schedule
  .pre-commit-config.yaml
Due: none

Don't add dependency updates to the changelog
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Run the changelog tow times a week
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Fix types
  sbrunner_hooks/copyright.py
Due: none

Fix create release
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Fix double year who is not current
  .prospector.yaml
  sbrunner_hooks/copyright.py
  tests/copyright_test.py
Due: none

Fix release creation in changelog workflow
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Fix new error with attr in pull request check workflow
  .github/workflows/pr-checks.yaml
Due: workflows-require-timeout

Update the pre commit hook
  .github/renovate.json5
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  ci/config.yaml
  ci/requirements.txt
Due: workflows-require-timeout

Fix the event type from edit to edited in pull request check workflow
  .github/workflows/pr-checks.yaml
Due: workflows-require-timeout

Fix the release creation in the changelog workflow
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Add vulnerabilities rules in Renovate configuration
  .github/renovate.json5
Due: none

Fix spell
  README.md
  sbrunner_hooks/copyright.py
Due: none

Update the used Ubuntu version to 22.04 in the workflows
  .github/workflows/delete-old-workflows-run.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/pr-checks.yaml
Due: workflows-require-timeout

Add pre-commit hooks
  .github/workflows/main.yaml
Due: workflows-require-timeout

Add npm lock
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
Due: poetry-check, poetry-lock

Add missing types-PyYAML
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Fix the tokens in the workflows
  .github/workflows/dependency-update-review.yaml
Due: workflows-require-timeout

Fix the repository
  .github/workflows/dependency-update-review.yaml
Due: workflows-require-timeout
