Repository sbrunner/hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: workflows-require-timeout, poetry2-lock, pipenv-lock, helm-lock, canonicalize

workflows-require-timeout:
  name: workflows require timeout
  entry: workflow-timeout-check
  language: python

poetry2-lock:
  name: poetry lock
  entry: run-in-dir --check poetry check --cmd poetry lock
  args:
  - --files
  language: python
  additional_dependencies:
  - poetry==2.1.2

pipenv-lock:
  name: pipenv lock
  entry: run-in-dir --cmd pipenv lock
  args:
  - -a--keep-outdated
  - --files
  language: python
  additional_dependencies:
  - pipenv

helm-lock:
  name: helm lock
  entry: run-in-dir --cmd helm dependency update
  args:
  - --files
  language: python

canonicalize:
  name: canonicalize files
  entry: sbrunner-canonicalize
  language: python

Don't do unnecessary update to change the order, sort the ignore
  sbrunner_hooks/prospector_to_ruff.py
Due: none

CI updates
  .pre-commit-config.yaml
Due: canonicalize

Fix the current profile path
  sbrunner_hooks/prospector_to_ruff.py
Due: none

CI updates
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout, canonicalize

Update the Python tested versions
  .github/workflows/main.yaml
Due: workflows-require-timeout, canonicalize

Move required check to Publish
  .github/workflows/main.yaml
Due: workflows-require-timeout, canonicalize

Update Python version
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  .python-version
Due: workflows-require-timeout, canonicalize

Remove python-versions pre-commit hook
  .pre-commit-config.yaml
Due: canonicalize

Update used Python version
  poetry.lock
  pyproject.toml
Due: poetry2-lock, canonicalize

Downgrade Prospector
  .pre-commit-config.yaml
Due: canonicalize

Ignore Bandit issue
  .prospector.yaml
Due: canonicalize

Fix git log date parsing with showSignature
  sbrunner_hooks/copyright.py
Due: none

Don't return the full history
  sbrunner_hooks/copyright.py
Due: none

Fix Python support metadata
  .prospector.yaml
  poetry.lock
  pyproject.toml
Due: poetry2-lock, canonicalize

Fix pyproject canonicalization with sorted keys
  .pre-commit-config.yaml
  pyproject.toml
  sbrunner_hooks/canonicalize.py
  tests/canonicalize_test.py
Due: poetry2-lock, canonicalize

Pin build-system requires
  ci/requirements.txt
  pyproject.toml
Due: poetry2-lock, canonicalize

Fix lint issues: add missing copyright headers and fix mypy no-any-return
  sbrunner_hooks/__init__.py
  sbrunner_hooks/canonicalize.py
  sbrunner_hooks/prospector_to_ruff.py
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/workflow_timeout.py
Due: none

Fix lint issues: correct canonicalize.py indentation and add missing copyright headers
  sbrunner_hooks/canonicalize.py
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/workflow_timeout.py
Due: none

Fix syntax errors: remove extra paren and duplicated copyright lines
  sbrunner_hooks/canonicalize.py
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/workflow_timeout.py
Due: none

Fix TC006 and missing trailing newlines
  sbrunner_hooks/canonicalize.py
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/workflow_timeout.py
Due: none

Add missing copyright headers to test files
  tests/__init__.py
  tests/canonicalize_test.py
  tests/copyright_test.py
Due: none

Pin ruff and pylint in the project
  poetry.lock
  pyproject.toml
Due: poetry2-lock, canonicalize

Pin ruff and pylint in the project
  .pre-commit-config.yaml
Due: canonicalize

Replace --die-on-tool-error by --direct-tool-stdout in prospector
  .github/workflows/main.yaml
  .pre-commit-config.yaml
Due: workflows-require-timeout, canonicalize

Add workflow-level permissions to GitHub Actions
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout, canonicalize

Restore poetry-dynamic-versioning plugin extra and downgrade poetry-core to 2.4.0
  pyproject.toml
Due: poetry2-lock, canonicalize

Keep poetry-core at version 2.4.0
  pyproject.toml
Due: poetry2-lock, canonicalize

Add a uv-lock hook to generate the locked requirements with uv
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  sbrunner_hooks/uv_lock.py
  tests/uv_lock_test.py
Due: poetry2-lock, canonicalize

Address the review: rename the hook to uv-pip-compile and add the uv-lock and uv-pylock hooks
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/uv_lock.py
  sbrunner_hooks/uv_pip_compile.py
  tests/run_in_dir_test.py
  tests/uv_lock_test.py
  tests/uv_pip_compile_test.py
Due: poetry2-lock, canonicalize

Simplify
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/uv_pip_compile.py
  tests/uv_pip_compile_test.py
Due: poetry2-lock, canonicalize

Path conditions:
  workflows-require-timeout: any of: ^\.github/workflows/.+\.ya?ml$
  poetry2-lock: any of: ^(|.*/)pyproject\.toml$
  pipenv-lock: any of: ^(|.*/)Pipfile$
  helm-lock: any of: ^(|.*/)Chart\.yaml$
  canonicalize: any of: (?x)^(
  \.github/workflows/[^/]+\.ya?ml
  |(
  |.*/)\.?prospector(-.*)?\.ya?ml
  |(
  |.*/)pyproject\.toml
  |(|.*/).pre-commit-config\.ya?ml
)$
