Repository sbrunner/hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: workflows-require-timeout, poetry-check, poetry-lock, pipenv-lock, helm-lock

workflows-require-timeout:
  name: workflows require timeout
  entry: pre-commit-workflow-timeout
  language: python

poetry-check:
  name: poetry check
  entry: pre-commit-run-in-dir --cmd poetry check
  args:
  - --files
  language: python
  additional_dependencies:
  - poetry==1.3.2

poetry-lock:
  name: poetry lock
  entry: pre-commit-run-in-dir --cmd poetry lock
  args:
  - -a--no-update
  - --files
  language: python
  additional_dependencies:
  - poetry==1.3.2

pipenv-lock:
  name: pipenv lock
  entry: pre-commit-run-in-dir --cmd pipenv lock
  args:
  - -a--keep-outdated
  - --files
  language: python
  additional_dependencies:
  - pipenv

helm-lock:
  name: helm lock
  entry: pre-commit-run-in-dir --cmd helm dependency update
  args:
  - --files
  language: python

Fix the repository
  .github/workflows/dependency-update-review.yaml
Due: workflows-require-timeout

Fix the repository
  .github/renovate.json5
  .pre-commit-config.yaml
  ci/config.yaml
Due: none

Add/update pre-commit hooks
  .github/renovate.json5
Due: none

Update the CI
  ci/config.yaml
Due: none

Update to c2cciutils version 1.6
  .github/workflows/main.yaml
Due: workflows-require-timeout

Use the new Prospector profile to avoid conflict or duplicated
  .prospector.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Use the new Prospector profile to avoid conflict or duplicated
  .pre-commit-config.yaml
  .prospector.yaml
  poetry.lock
Due: none

Fix Prettier pre-commit
  .pre-commit-config.yaml
Due: none

Update to c2cciutils version 1.6 (CI updates)
  .github/renovate.json5
  .github/workflows/dependency-update-review.yaml
Due: workflows-require-timeout

Use the new Prospector profile to avoid conflict or duplicated
  .pre-commit-config.yaml
  .prospector.yaml
Due: none

Use Python 3.9
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  sbrunner_hooks/copyright.py
Due: workflows-require-timeout, poetry-check, poetry-lock

Update to c2cciutils version 1.6 (CI updates)
  .github/workflows/changelog.yaml
Due: workflows-require-timeout

Update c2cciutils config
  ci/config.yaml
Due: none

Update to c2cciutils version 1.6 (CI updates)
  .github/workflows/changelog.yaml
  ci/requirements.txt
  poetry.lock
  pyproject.toml
Due: workflows-require-timeout, poetry-check, poetry-lock

CI updates
  .github/renovate.json5
  .github/workflows/dependency-auto-review.yaml
  .github/workflows/dependency-update-review.yaml
  ci/requirements.txt
Due: workflows-require-timeout

CI updates
  .github/renovate.json5
  ci/requirements.txt
Due: none

CI updates
  .github/workflows/dependency-auto-review.yaml
Due: workflows-require-timeout

CI updates
  .github/renovate.json5
  .github/workflows/delete-old-workflow-run.yaml
  .github/workflows/pr-checks.yaml
  requirements.txt
Due: workflows-require-timeout

Downgrade black version in pre-commit
  .pre-commit-config.yaml
Due: none

Fix dependencies
  .github/workflows/main.yaml
  ci/requirements.txt
  requirements.txt
Due: workflows-require-timeout

Add checks argument
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  sbrunner_hooks/run_in_dir.py
Due: none

Update copyright year
  sbrunner_hooks/copyright.py
Due: none

Add more message on verbose mode
  sbrunner_hooks/copyright.py
Due: none

Don't upgrade Black
  .pre-commit-config.yaml
Due: none

CI updates
  .github/renovate.json5
  .github/workflows/dependency-auto-review.yaml
  pyproject.toml
Due: workflows-require-timeout, poetry-check, poetry-lock

CI updates
  .github/workflows/delete-old-workflow-run.yaml
  .github/workflows/delete-old-workflows-run.yaml
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout

CI updates
  .github/workflows/changelog.yaml
  .github/workflows/main.yaml
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout

CI updates
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout

CI updates
  .github/workflows/pr-checks.yaml
Due: workflows-require-timeout

CI updates
  .github/workflows/delete-old-workflows-run.yaml
Due: workflows-require-timeout

CI updates
  .github/renovate.json5
Due: none

Fix example in the README
  README.md
Due: none

Add message on updating the copyright on a file
  sbrunner_hooks/copyright.py
Due: none

CI updates
  .github/workflows/changelog.yaml
  .github/workflows/main.yaml
Due: workflows-require-timeout

Ignore audit tests/Pipfile
  .github/ghci.yaml
Due: none

Path conditions:
  workflows-require-timeout: any of: ^\.github/workflows/.+\.ya?ml$
  poetry-check: any of: ^(|.*/)pyproject\.toml$
  poetry-lock: any of: ^(|.*/)pyproject\.toml$
  pipenv-lock: any of: ^(|.*/)Pipfile$
  helm-lock: any of: ^(|.*/)Chart\.yaml$
