Repository sbrunner/hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: workflows-require-timeout, poetry-check, poetry-lock, pipenv-lock, helm-lock

workflows-require-timeout:
  name: workflows require timeout
  entry: workflow-timeout-check
  language: python

poetry-check:
  name: poetry check
  entry: run-in-dir --cmd poetry check
  args:
  - --files
  language: python
  additional_dependencies:
  - poetry==1.8.2

poetry-lock:
  name: poetry lock
  entry: run-in-dir --check poetry check --cmd poetry lock
  args:
  - -a--no-update
  - --files
  language: python
  additional_dependencies:
  - poetry==1.8.2

pipenv-lock:
  name: pipenv lock
  entry: run-in-dir --cmd pipenv lock
  args:
  - -a--keep-outdated
  - --files
  language: python
  additional_dependencies:
  - pipenv

helm-lock:
  name: helm lock
  entry: run-in-dir --cmd helm dependency update
  args:
  - --files
  language: python

CI updates
  .github/renovate.json5
  .github/workflows/delete-old-workflows-run.yaml
  .github/workflows/main.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout

CI updates
  .github/workflows/pull-request-automation.yaml
Due: workflows-require-timeout

Fix package check
  ci/requirements.txt
Due: none

Don't process the tests/Pipfile with Snyk
  .github/ghci.yaml
Due: none

CI updates
  .pre-commit-config.yaml
Due: none

Add --package-lock-only to npm
  .pre-commit-hooks.yaml
Due: none

Fix copyright re to match on license files
  sbrunner_hooks/copyright.py
Due: none

CI updates
  .github/workflows/main.yaml
Due: workflows-require-timeout

Npm lock: add --ignore-scripts option
  .pre-commit-hooks.yaml
Due: none

CI updates
  .github/renovate.json5
Due: none

Fix npm lock arguments
  .pre-commit-hooks.yaml
Due: none

Use right version of pre-commit
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  ci/requirements-pre-commit.txt
Due: workflows-require-timeout

Add Ruff
  .pre-commit-config.yaml
  .prospector.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Add support of Poetry 2
  .pre-commit-config.yaml
Due: none

Relay add Poetry2 lock
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

CI updates
  .github/publish.yaml
  .github/renovate.json5
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  .prospector.yaml
  ci/config.yaml
  ci/requirements.txt
  poetry.lock
  pyproject.toml
Due: workflows-require-timeout, poetry-check, poetry-lock

CI updates
  .github/renovate.json5
  .pre-commit-config.yaml
Due: none

Remove unsafe fix
  .pre-commit-config.yaml
  .prospector.yaml
Due: none

Fix new Prospector issues
  .pre-commit-config.yaml
  sbrunner_hooks/copyright.py
  sbrunner_hooks/run_in_dir.py
  sbrunner_hooks/workflow_timeout.py
Due: none

Add a hook to organize some files
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  poetry.lock
  pyproject.toml
  sbrunner_hooks/canonicalize.py
Due: poetry-check, poetry-lock

CI updates
  .github/workflows/pull-request-automation.yaml
  .pre-commit-config.yaml
  ci/requirements.txt
Due: workflows-require-timeout

Canonicalize pre-commit excludes
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  sbrunner_hooks/canonicalize.py
Due: none

Fix new Ruff issues
  sbrunner_hooks/copyright.py
Due: none

Canonicalize d'ont run pre-commit
  sbrunner_hooks/canonicalize.py
Due: none

CI updates
  pyproject.toml
Due: poetry-check, poetry-lock

CI updates
  .pre-commit-config.yaml
  ci/requirements.txt
  pyproject.toml
Due: poetry-check, poetry-lock

CI updates
  .github/workflows/pull-request-automation.yaml
  ci/requirements.txt
  pyproject.toml
Due: workflows-require-timeout, poetry-check, poetry-lock

GitHub Actions: Run tests of current Python
  .github/workflows/main.yaml
Due: workflows-require-timeout

Convert Prospector configuration in Ruff configuration in pyproject.toml
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  ci/requirements.txt
  poetry.lock
  pyproject.toml
  sbrunner_hooks/prospector_to_ruff.py
  sbrunner_hooks/run_in_dir.py
  tests/__init__.py
  tests/copyright_test.py
Due: workflows-require-timeout, poetry-check, poetry-lock

Add Ruff configuration for tests
  .pre-commit-config.yaml
  sbrunner_hooks/prospector_to_ruff.py
Due: none

Path conditions:
  workflows-require-timeout: any of: ^\.github/workflows/.+\.ya?ml$
  poetry-check: any of: ^(|.*/)pyproject\.toml$
  poetry-lock: any of: ^(|.*/)pyproject\.toml$
  pipenv-lock: any of: ^(|.*/)Pipfile$
  helm-lock: any of: ^(|.*/)Chart\.yaml$
